.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

.card .card-content p {
    margin: 0;
    color: inherit;
}
.card .card-action {

}

.rating {
    color: #e0f2f1;
    margin: 0;
    padding: 0;
}
ul.rating {
    display: inline-block;
}
.rating li {
    list-style-type: none;
    display: inline-block;
    padding: 1px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
.rating .filled {
    color: #26a69a;
}

.brand-logo img{
  width: 60px;
}

.brand-logo{
  padding: 2px !important;
}

.collection .collection-item.avatar {
  min-height: 60px;
}

.collapsible-body{
  padding: 30px;
}
.delete_icon{
  color: #eeeeee;
  position: absolute;
  top: 0;
  right: 0;
}

.card .card-image{
  height: 200px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition: all .4s;
}
.card .card-image:hover{
  background-size: 105%;
  transition: all .4s;
}

.card .card-content{
  padding: 20px 0 0 !important;
}

.delete_icon:hover{
  color: #e53935;
  transition: all .3s;
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.fixed-action-btn ul {
  height: 40px;
}

.perso_color{
  border-radius: 0 !important;
  margin: 0 !important;
}

.perso_color a{
  width: 70px;
}

.perso_color a:hover{
  width: 60px;
}


.perso{
  position: relative !important;
  right: 0 !important;
  bottom: 0 !important;
  padding: 0 !important;
  margin-left: 70%;
}
/* Custom page header */
.header {
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
