<nav ng-hide="idCookie">
    <div class="nav-wrapper">
      <a href="#/" class="brand-logo">WishList</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#/">Home</a></li>
        <li><a ng-href="#/about">About</a></li>
        <li><a ng-href="#/">Contact</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="#/">Home</a></li>
        <li><a ng-href="#/about">About</a></li>
        <li><a ng-href="#/">Contact</a></li>
      </ul>
    </div>
  </nav>

<nav ng-hide="!idCookie">
    <div class="nav-wrapper">
      <a href="#/" class="brand-logo">WishList</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#/create_wishlist">Créer une WishList</a></li>
        <li><a href="" ng-click="logout()">Deconnexion</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="#/create_wishlist">Créer une WishList</a></li>
        <li><a href="" ng-click="logout()"> Deconnexion</a></li>
      </ul>
    </div>
  </nav>
