<nav ng-hide="!idCookie" class="teal lighten-3" ng-controller="MainCtrl">
    <div class="nav-wrapper container">
      <a href="#/" class="logo-container brand-logo"><img src="images/logo_wish.png" alt=""/></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#/home"><i class="large material-icons">view_list</i></a></li>
        <li><a href="" ng-click="logout()"><i class="large material-icons">power_settings_new</i></a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="#/home"><i class="large material-icons">view_list</i></a></li>
        <li><a href="" ng-click="logout()"><i class="large material-icons">power_settings_new</i></a></li>
      </ul>
    </div>
  </nav>
