<div class="row center">
 <div id="image" class="section scrollspy">
         <div class="row">
           <!-- Image Card -->
           <a href="#/add_wishlistlink" ng-if="nothing == true" class="waves-effect waves-light btn-large">Add the first product !</a>
           <div class="col s12 m2" ng-repeat="wll in wishlistlinks | orderBy:'-rate'">
             <form ng-submit="updateLinks(wll.id, wishlistlink)">
             <div class="card">
               <div class="col s1">
                 <a class="grey lighten-2 grey-text btn-floating price"><input ng-model="wishlistlink.price" type="text" name="name" placeholder="30 €"></a>
               </div>
               <a href="{{wll.link}}" target="_blank">
               <div class="card-image" style="background-image:url({{wll.picture}})">
                 <!-- <img src="{{wll.picture}}"> -->
                  <i class="material-icons delete_icon" ng-click="deleteLink({{wll.id}})">delete</i>
                 <span class="card-title"></span>
               </div>
               </a>
               <div class="card-content">
                 <div class="col s12">
                   <input ng-model="wishlistlink.title" type="text" name="name" placeholder="{{wll.title}}">
                </div>
                 <br>
                  <br>
                  <br>
                 <div class="col s12">
                 <div class="fixed-action-btn perso" style="bottom: 45px; right: 24px;">
                     <a class="btn-floating btn-large" style="background-color: #{{wll.color_rate}}">
                       <i class="large material-icons">star</i>
                     </a>
                     <ul>
                       <li class="perso_color"><a ng-click="getSelectedRating(4, {{wll.id}}, 'F44336')" class="btn-floating perso_color red"></a></li>
                       <li class="perso_color"><a ng-click="getSelectedRating(3, {{wll.id}}, 'fdd835')" class="btn-floating perso_color yellow darken-1"></a></li>
                       <li class="perso_color"><a ng-click="getSelectedRating(2, {{wll.id}}, '4CAF50')" class="btn-floating perso_color green"></a></li>
                       <li class="perso_color"><a ng-click="getSelectedRating(1, {{wll.id}}, '2196F3')" class="btn-floating perso_color blue"></a></li>
                     </ul>
                   </div>
                  </div>
                  <br>
                  <div ng-if="wll.ordered == false" class="card-action grey lighten-4">
                    <a class="grey-text text-darken-1" ng-click="makeOrder({{wll.id}})">Not taken yet</a>
                  </div>
                  <div ng-if="wll.ordered == true" class="card-action green lighten-4">
                    <a class="green-text text-darken-1" ng-click="removeOrder({{wll.id}})">Alredy taken</a>
                  </div>
             </div>

           </div>
           <button class="btn waves-effect waves-light teal lighten-3" type="submit" name="action">Submit
             <i class="material-icons">send</i>
           </button>
           </form>
         </div>
       </div>
      </div>
