<div id="home" class="homepage-hero-module jumbotron" style="padding: 0; margin-bottom: 0;">
  <div class="video-container" style="padding-top:0;">

    <div class="share-buttons-group affix-top">
      <a href="https://twitter.com/home?status=Beautiful%20Free%20Videos%20for%20your%20Homepage%20Background%20%40coverr%20http://www.coverr.co" target="_blank"  class="btn-track" data-event="TwitterShare_Click">
        <div id="twitter-button" class="share-button-banner">
          <div class="share-container">
            <i class="fa fa-twitter share-content"></i>
          </div>
        </div>
      </a>

      <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.coverr.co" target="_blank" class="btn-track" data-event="FacebookShare_Click">
        <div id="facebook-button" class="share-button-banner">
          <div class="share-container">
            <i class="fa fa-facebook share-content"></i>
          </div>
        </div>
      </a>

      <a href="https://plus.google.com/share?url=http://www.coverr.co" target="_blank" class="btn-track" data-event="GoogleShare_Click">
        <div id="google-button" class="share-button-banner">
          <div class="share-container">
            <i class="fa fa-google-plus share-content"></i>
          </div>
        </div>
      </a>
    </div>

    <div class="title-container">
      <div class="headline">
        <h1 class="white-text">WishList</h1>
        <h3 class="text-white text-thin">create magical wishlists to share your cravings</h3>
        <h5 class="text-white text-thin">amazing with <a class="coverr-nav-item btn-track" href="index-ref=producthunt.html#newsletter" data-event="MondayScroll_Click" style="text-decoration: none; border-bottom: 1px dotted #fff; color: #fff;">chrome extension</a></h5>
      </div>
    </div>

    <video autoplay loop class="fillWidth" poster="images/MP4/clothing.jpg">
      <source src="images/MP4/clothing.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
      <source src="images/MP4/clothing.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
    </video>
    <div class="poster hidden">
      <img src="images/MP4/clothing.jpg" alt="">
    </div>
    <div style="position: absolute; bottom: 10px; left: 20px;">
      <a id="topDownloadButton" class="btn btn-success btn-download" data-name="" href="index-ref=producthunt.html#" style="display: none; background-color: transparent; border-color: #ffffff; border: 2px solid #fff; font-size: 20px" data-location="top"><i class="fa fa-download"></i> Download</a>
    </div>
  </div>
</div>


<div class="col s12 grey lighten-4" style="padding:30px 0;">
  <div class="container center">
    <div class="row center">
      <h5 class="header col s12 light">Login or register and enjoy</h5>
      <a href="#/login" class="waves-effect waves-light btn-large"><i class="material-icons left">vpn_key</i>Login or register</a>
    </div>
  </div>
</div>

<div class="col s12  grey lighten-3">
  <div class="feature row valign-wrapper no-valign-wrapper-on-mobile">
    <div class="col s12 m5 description valign">
      <img src="images/list.gif" alt="Editor" class="responsive-img">
    </div>
    <div class="col s12 offset-m1 m6 no-right-padding valign">
      <h3 class="teal-text text-lighten-3">Create and share amazing Wishlists !</h3>
      <blockquote class="teal-text text-darken-4">
        <p class="flow-text">You just have to add a link and you have all the informations of the product</p>
      </blockquote>
    </div>
  </div>
</div>

<div class="col s12  grey lighten-4">
  <div class="feature row valign-wrapper no-valign-wrapper-on-mobile">
    <div class="col s12 m5 description valign">
      <h3 class="teal-text text-lighten-3">The magic Chrome Extension !</h3>
      <blockquote class="teal-text text-darken-4">
        <p class="flow-text">You want to add this product to your list ? Just clik on me !</p>
      </blockquote>
    </div>
    <div class="col s12 offset-m1 m6 no-right-padding valign"><img src="images/ext.gif" alt="GitHub" class="responsive-img"></div>
  </div>
</div>

<div class="col s12  grey lighten-3">
  <div class="feature row valign-wrapper no-valign-wrapper-on-mobile">
    <div class="col s12 m5 description valign">
      <img src="images/perso.gif" alt="Editor" class="responsive-img">
    </div>
    <div class="col s12 offset-m1 m6 no-right-padding valign">
      <h3 class="teal-text text-lighten-3">Share your personal page</h3>
      <blockquote class="teal-text text-darken-4">
        <p class="flow-text">Everybody can access to you wishlist to see him, obviously he can't modify hey</p>
      </blockquote>
    </div>
  </div>
</div>
