 <h5 class="header col s12 light">{{wishlist.title}} - {{wishlist.description}}</h5>
 <div id="image" class="section scrollspy">
         <div class="row">
           <!-- Image Card -->
           <div class="col s12 m6" ng-repeat="wll in wishlistlinks | orderBy:'-rate'">
             <div class="card">
               <div class="card-image">
                 <img src="{{wll.picture}}">
                  <i class="material-icons delete_icon" ng-click="deleteLink({{wll.id}})">delete</i>
                 <span class="card-title"></span>
               </div>
               <div class="card-content">
                 <p>{{wll.title}}</p>
                 <br>
                 <span ng-repeat="rating in ratings">
                    <div star-rating rating-value="wll.rate" max="rating.max" on-rating-selected="getSelectedRating(rating, wll.id)"></div>
                  </span>
                  <br>
               <div class="card-action">
                 <a href="{{wll.link}}" target="_blank" class="teal-text text-lighten-3">Link</a>
               </div>
             </div>
           </div>

         </div>
       </div>
       <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
         <a href="#/add_wishlistlink" class="btn-floating btn-large teal">
           <i class="material-icons">add</i>
         </a>
       </div>
