<div class="row center">
  <h5 class="header col s12 light">{{wishlist.title}} <span ng-if="wishlist.description != 'undefined'"> - {{wishlist.description}}</span></h5>
  <div ng-if="nothing != true" class="fb-share-button" data-href="http://localhost:9000/#/{{idCookie}}/{{wishlist.id}}" data-layout="button"></div>
  <div id="image" class="section scrollspy">
    <div class="row">
      <!-- Image Card -->
      <a href="#/add_wishlistlink" ng-if="nothing == true" class="waves-effect waves-light btn-large">Add the first product !</a>
      <div class="col s12 m2" ng-repeat="wll in wishlistlinks | orderBy:'-rate'">
        <div class="card">
          <div ng-if="wll.price != 0" class="col s1">
            <a class="grey lighten-2 grey-text btn-floating price">{{wll.price}} €</a>
          </div>
          <div class="col s1">

            <a class="delete_icon" ng-click="deleteLink({{wll.id}})"><i class="material-icons">delete</i></a>
          </diV>
          <a href="{{wll.link}}" target="_blank">
            <div class="card-image" style="background-image:url({{wll.picture}})">
              <!-- <img src="{{wll.picture}}"> -->
              <span class="card-title"></span>
            </div>
          </a>
          <div class="card-content">
            <p>{{wll.title}}</p>
            <br>
            <div class="col s12">
              <div class="fixed-action-btn perso" style="bottom: 45px; right: 24px;">
                <a class="btn-floating btn-large" style="background-color: #{{wll.color_rate}}">
                  <i class="large material-icons">star</i>
                </a>
                <ul>
                  <li class="perso_color"><a ng-click="getSelectedRating(4, {{wll.id}}, 'F44336')" class="btn-floating perso_color red"></a></li>
                  <li class="perso_color"><a ng-click="getSelectedRating(3, {{wll.id}}, 'fdd835')" class="btn-floating perso_color yellow darken-1"></a></li>
                  <li class="perso_color"><a ng-click="getSelectedRating(2, {{wll.id}}, '4CAF50')" class="btn-floating perso_color green"></a></li>
                  <li class="perso_color"><a ng-click="getSelectedRating(1, {{wll.id}}, '2196F3')" class="btn-floating perso_color blue"></a></li>
                </ul>
              </div>
            </div>
            <!-- <span ng-repeat="rating in ratings">
            <div star-rating rating-value="wll.rate" max="rating.max" on-rating-selected="getSelectedRating(rating, wll.id)"></div>
          </span> -->
          <br>
          <div ng-if="wll.ordered == false" class="card-action grey lighten-4">
            <a class="grey-text text-darken-1">Not taken yet</a>
          </div>
          <div ng-if="wll.ordered == true" class="card-action green lighten-4">
            <a class="green-text text-darken-1">Alredy taken</a>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="fixed-action-btn add_wishlistlink" style="bottom: 45px; right: 24px;">
    <a href="#/edit/{{idListCookie}}" class="btn-floating btn-large teal tooltipped" data-position="left" data-delay="50" data-tooltip="Add a product">
      <i class="material-icons white-text">edit</i>
    </a>
    <a href="#/add_wishlistlink" class="btn-floating btn-large white tooltipped" data-position="left" data-delay="50" data-tooltip="Add a product">
      <i class="material-icons teal-text">add</i>
    </a>
  </div>
</div>
