
<h5 class="header col s12 light">My Lists</h5>

<ul class="collection">
  <a ng-href="#/mylist/{{wl.id}}">
    <li class="collection-item avatar" ng-repeat="wl in wishlist">
      <i class="material-icons circle teal lighten-3">view_list</i>
      <span class="title teal-text text-darken-4">{{wl.title}}</span>
      <p class="teal-text text-lighten-4">{{wl.description}}<br>
      </p>
      <a ng-href="/mylist/{{wl.id}}" class="secondary-content teal-text text-lighten-3"><i class="material-icons">visibility</i></a>
    </li>
  </a>
</ul>
