<div class="row center">
<h5 class="header col s12 light">{{wishlist.title}} - {{wishlist.description}}</h5>
<div id="image" class="section scrollspy">
        <div class="row">
          <!-- Image Card -->
          <div class="col s12 m2" ng-repeat="wll in wishlistlinks | orderBy:'-rate'">
            <div class="card">
              <a href="{{wll.link}}" target="_blank">
              <div class="card-image" style="background-image:url({{wll.picture}})">
                <!-- <img src="{{wll.picture}}"> -->
                <span class="card-title"></span>
              </div>
              </a>
              <div class="card-content">
                <p>{{wll.title}}</p>
                <br>
                <div class="sol s12">
                <div class="fixed-action-btn perso" style="bottom: 45px; right: 24px;">
                    <a class="btn-floating btn-large" style="background-color: #{{wll.color_rate}}">
                      <i class="large material-icons">star</i>
                    </a>
                  </div>
                             </div>
                <!-- <span ng-repeat="rating in ratings">
                   <div star-rating rating-value="wll.rate" max="rating.max" on-rating-selected="getSelectedRating(rating, wll.id)"></div>
                 </span> -->
                 <br>
              <div class="card-action">
                <a href="{{wll.link}}" target="_blank" class="teal-text text-lighten-3">Link</a>
              </div>
            </div>
          </div>

        </div>
      </div>
      </div>
